@using FoodOrderApp.Models
@inject IHttpClientFactory HttpClientFactory
@inject TeamsUserCredential teamsUserCredential
@inject IDialogService DialogService
<h3>Zamowienia</h3>
<button @onclick="ReLoadOrders">Odśwież</button>
@if(orders == null)
{
    <p>Ładowanie</p>
}else if(orders.Count == 0)
{
    <p>Brak zamówień</p>
}
else
{
    <FluentAccordion >
    @foreach(OrderModel order in orders)
    {
        <FluentAccordionItem Heading="@order.Id.ToString()" @onclick="async () => await GetCost((int)order.Id)">
            @if(UserId == order.Orderer)
            {
                <FluentButton Appearance="Appearance.Accent" OnClick="@(e=>EditAsync(order))">Edit</FluentButton>
            }
            <p>Zamawiający: @order.Orderer</p>
            <p>Restauracja: @order.RestaurantName</p>
            <p>Minimalna wartość zamówienia: @order.MinCost</p>
            <p>Aktualna wartość zamówienia: @order.CurrentCost</p>
            @if (order.MinCost - order.CurrentCost > 0)
            {
                <p>Aby można było zamówić brakuje: @(Math.Round((decimal)(order.MinCost - order.CurrentCost),2))</p>
            }
            else
            {
                <p>Masz do zapłaty: @Cost</p>
            }
            @if (order.MinCostForFreeDelivery != null)
            {
                if (order.MinCostForFreeDelivery - order.CurrentCost > 0)
                {
                    <p>Opłata za dowóz: @order.DeliveryFee</p>
                    <p>Do darmowej dostawy brakuje: @(order.MinCostForFreeDelivery - order.CurrentCost)</p>
                }
                else
                {
                    <p>Dostawa jest darmowa</p>     
                }
            }
            <p>Numer telefonu zamawiającego: @order.PhoneNumber</p>
            @if (UserId == order.Orderer)
            {
                if (order.IsClosed)
                {
                    <FluentButton OnClick="@(e => OpenOrder(order))">Otwórz ponownie zamówienie</FluentButton>
                }
                else
                {
                    <FluentButton OnClick="@(e => CloseOrder(order))">Zamknij zamówienie</FluentButton>
                }
            }
            
            <OrderPositions OrderId="@order.Id" UserId="@UserId" IsClosed="@order.IsClosed" Parent="@this" OrdererId="@order.Orderer"/>
        </FluentAccordionItem>
    }
    </FluentAccordion>
}

@code {
    [CascadingParameter]
    public string? UserId { get; set; }
    private List<OrderModel> orders;
    private double Cost { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await LoadOrders();
    }
    private async Task LoadOrders()
    {
        var httpClient = HttpClientFactory.CreateClient("FoodOrderApi");
        orders = await httpClient.GetFromJsonAsync<List<OrderModel>>("api/OrderModels");
    }
    public async Task ReLoadOrders()
    {
        orders = new List<OrderModel>();
        await LoadOrders();
    }
    private async Task GetUser(string userId)
    {
        //var user = await teamsUserCredential.
    }
    private async Task CloseOrder(OrderModel order)
    {
        var httpClient = HttpClientFactory.CreateClient("FoodOrderApi");
        var orders = await httpClient.PutAsJsonAsync($"api/OrderModels/{order.Id}/ChangeState/true",order);
    }
    private async Task OpenOrder(OrderModel order)
    {
        var httpClient = HttpClientFactory.CreateClient("FoodOrderApi");
        var orders = await httpClient.PutAsJsonAsync($"api/OrderModels/{order.Id}/ChangeState/false", order);
    }
    private async Task GetCost(int orderId)
    {
        var httpClient = HttpClientFactory.CreateClient("FoodOrderApi");
        var ordersCost = await httpClient.GetFromJsonAsync<double>($"api/OrderModels/{orderId}/GetUserCostForOrder/{UserId}");
        Cost = Math.Round(ordersCost,2);
    }
    private async Task EditAsync(OrderModel order)
    {

        var data = new OrderModel(order);

        var dialog = await DialogService.ShowDialogAsync<EditOrder>(data, new DialogParameters()
            {
                Height = "400px",
                //Title = $"Edycja pozycji",
                PreventDismissOnOverlayClick = false,
                PreventScroll = true,
            });
        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            order = (OrderModel)result.Data;
            await UpdateOrder(order);
        }
    }
    private async Task UpdateOrder(OrderModel order)
    {
        var httpclient = HttpClientFactory.CreateClient("FoodOrderApi");
        var result = await httpclient.PutAsJsonAsync($"api/OrderModels/{order.Id}",order);
    }
}
