@using FoodOrderApp.Models
<h3>OrderDetails</h3>
@if (Order == null)
{
    <p>Ładowanie</p>
}
else
{
    <p>Zamawiający: @Order.Orderer</p>
    <p>Restauracja: @Order.RestaurantName</p>
    <p>Minimalna wartość zamówienia: @Order.MinCost</p>
    if (Order.MinCost - Order.CurrentCost>0)
    {
        <p>Aby można było zamówić brakuje: @(Order.MinCost - Order.CurrentCost)</p>
    }
    if (Order.MinCostForFreeDelivery != null)
    {
        if (Order.MinCostForFreeDelivery - Order.CurrentCost > 0)
        {
            <p>Opłata za dowóz: @Order.DeliveryFee</p>
            <p>Do darmowej dostawy brakuje: @(Order.MinCostForFreeDelivery - Order.CurrentCost)</p>
        }
        else
        {
            <p>Dostawa jest darmowa</p>
        }
    }
    <p>Numer telefonu zamawiającego: @Order.PhoneNumber</p>

    <OrderPositions OrderId="@Order.Id" UserId="@UserId" />

    
}
@code {
    [Parameter]
    public OrderModel Order{ get; set; }
    [Parameter]
    public string? UserId { get; set; }
}
